################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrameworkOne.Application/obj/Debug
/.vs/config
/FrameworkOne.Repository/obj/Debug
/FrameworkOne.Model/obj/Debug
/FrameworkOne.Domain/obj/Debug
/FrameworkOne.Repository/bin/Debug
/FrameworkOne.Model/bin/Debug
/FrameworkOne.Domain/bin/Debug
/FrameworkOne.Application/bin/Debug
/.vs/FrameworkOne/v15
/FrameworkOne.Web/obj/Debug
/FrameworkOne.Web/bin
/packages
