################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrameworkOne.Application/obj/Debug
/.vs/config
/FrameworkOne.Repository/obj/Debug
/FrameworkOne.Model/obj/Debug
/FrameworkOne.Domain/obj/Debug
